@font-face {
  font-family: "Tropikal-Bold";
  src: url("../fonts/Tropikal-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Monument-Bold";
  src: url("../fonts/MonumentExtended-Bold.ttf") format("truetype");
}


@font-face {
  font-family: "oakes-grotesk-medium";
  src: url("../fonts/oakes-grotesk-medium.woff") format("woff"),
  url("../fonts/oakes-grotesk-medium.woff2") format("woff2");
}

@font-face {
  font-family: "oakes-grotesk-regular";
  src: url("../fonts/oakes-grotesk-regular.woff") format("woff"),
  url("../fonts/oakes-grotesk-regular.woff2") format("woff2");
}

@font-face {
  font-family: "oakes-grotesk-light-italic";
  src: url("../fonts/oakes-grotesk-light-italic.woff") format("woff"),
  url("../fonts/oakes-grotesk-light-italic.woff2") format("woff2");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;

    --primary: #fff;
  --secondary: #535353;
  --bg-primary: #FFF3DC;
  background: #2B142B !important;
  color: var(--primary);
  overflow-x:hidden;
 
  
}

html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #2B142B !important;
}

canvas {
  width: 100vw;
  height: 90vh !important;
  background: #2B142B !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

/* portfolio styling */

#left-tabs-example {
  width:100% !important;
}

.portfolio {
  width:100vw !important;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:flex-start;
}



.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #EFCBDB !important;
  background: transparent !important;
  font-weight:bold;
}

.nav-pills .nav-link {
  color: #EFCBDB !important;
  width:auto !important;
  font-weight:light !important;
}

.nav-item{
  color: #EFCBDB !important;
  width:150px !important;
  font-weight:light !important;
  text-align:left;
}

.nav-link:focus, .nav-link:hover {
  color: #EFCBDB !important;
}

.portfolio-left{
  flex:1;
  height:80vh;
  position:fixed;
  width:20% !important;
}

.portfolio-right{
  flex:3;
  height:80vh;
  position:relative;
  left:20% !important;
  overflow-y:scroll;
}
.gallery-work {
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
  flex-wrap:wrap;
  width:80%;

}

.gallery-work .single-proj{
  min-width:320px !important;
  width:32%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}

.gallery-work .single-proj img{
  width:95% !important;
  margin: 4% 0% 1% 0%;
}

.single-proj {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  border-radius:8px;
  cursor:pointer;

}


.single-proj:hover {
  background:#EFCBDB;

}

.single-proj p {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-bottom: 0 !important;
}


.single-proj:hover p {
  color: #2B142B;
}

.label > div
{
  font-size:44px;
  color:#fff;
  width:50vw;
  font-weight:300;
  color:#FCDEEA;
}

.label > div span
{
  font-weight:600;
  color:#FCDEEA;
}

.label > div span:nth-last-child(1) {
  font-style:italic;
}


