.navbar{
    position:relative;
    width:100%;
    height:10vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 2%;
    background: #2B142B !important;
    z-index:2;
}

.links {
    display:flex;
    justify-content:flex-end;
    align-items:center;
    width:100%;
    height:100%;
    color: #EFCBDB;
    font-family: 'Roboto', sans-serif;
}

.links a {
    margin-left:20px;
    text-decoration:none;
    color: #EFCBDB;
    position:relative;
}

.links a:hover {
    color: #EFCBDB;
}


.links a:after {
    content: "";
    position:absolute;
    background: #EFCBDB;
    height:2px;
    width:0;
    right:0;
    bottom:-4px;
    transition:0.3s;
    color:black;
  }
  .links a:hover::after {
   width:100%;
   color:#EFCBDB;
  }


.imgwrapper {
    width:40px;
    height:auto;
    cursor:pointer;
  
}

.iconwrapper {
    width:30px;
    height:auto;
    cursor:pointer;
    margin-left:15px;
}

.navbar button {
     margin-left:20px;
     font-family: "Tropikal-Bold";
     background: transparent;
     color: #EFCBDB;
     border: 1px solid #EFCBDB;
     font-size: 18px;
     border-radius: 5px;
     padding: 8px 25px !important;
     cursor:pointer;
     min-width:150px;
     -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
}

.navbar button:hover {
    background:#EFCBDB;
    color:#000;
}

.links svg {
    margin-left:15px;
    font-size:22px;
    margin-bottom:5px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
}

.links svg:hover {
    color:rgba(80,168,173,1);
}

.cart {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    cursor:pointer;
   
}

.cart p {
    margin-left:5px;
    margin-bottom:0;
    padding-bottom:0;
}
